
* {
  box-sizing: border-box;
}

body {
  font-family: 'EB Garamond', serif;
  background-color: #F7F9F9;
}

ul{
  display: grid;
  max-width: 100%;
  grid-template-columns: auto auto auto;
  border: none;
}

li{
  list-style: none;

}

h1{
  margin: 0;
  text-transform: capitalize;
  font-size: 1.4em;
  color: #566573;
}

p{
  margin: 0;
  text-transform: capitalize;
  color: #ABB2B9;
  font-size: 1em;
}

a {
  color: #ABB2B9;
  font-size: 1em;
}

.title{
  margin: 20px;
}


.employeeImage{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 10px;
}

.content {
  display: flex;
  flex-direction: row;
  padding: 20px;
  cursor: pointer;
}

.content:hover{
  background-color: #D6EAF8;
  transition-duration: .5s;
}

.employeeInfo {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.employeeData{
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: .5px solid #D5D8DC;
  background-color: #ffffff;
}

#employeeModal{
  height: 400px;
  width: 450px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  margin: 0 auto;
  margin-top: 50px;
  border: 2px solid #D6EAF8;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  display: none;
  z-index: 1;
}

#modalClose{
  right: 5;
  top: 5;
  float: right;
  background-color: #ffffff;
  color: #566573;
  padding: 5px;
  cursor: pointer;
  border: none;
  border-radius: 25%;
  font-weight: bold;
}

#modalClose:hover{
  background-color: #D6EAF8;
  transition-duration: .5s;
}

#modalContent{
  text-align: center;
}

#search{
  margin-left: 50px;
}

#searchBar{
  width: 30%;
  padding: 10px;
  font-family: 'EB Garamond', serif;
}

#searchBar:focus{
  background-color: #D6EAF8;
  color: #566573;
  transition-duration: .5s;
}

#next{
  cursor: pointer;
  font-family: 'EB Garamond', serif;
  font-size: 1em;
  font-weight: bold;
  padding: 10px;
  margin: 20px;
  float: right;
  background-color: #ffffff;
  color: #566573;
  border: none;
  border-radius: 25%;
}

#next:hover{
  background-color: #D6EAF8;
  transition-duration: .5s;
}

#prev{
  cursor: pointer;
  font-family: 'EB Garamond', serif;
  font-size: 1em;
  font-weight: bold;
  padding: 10px;
  margin: 20px;
  float: left;
  background-color: #ffffff;
  color: #566573;
  border: none;
  border-radius: 25%;
}

#prev:hover{
  background-color: #D6EAF8;
  transition-duration: .5s;
}

#modalDivide{
  background-color: #ABB2B9;
  text-align: center;
  margin: 10px;
  padding: .5px;
}
